/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body background */
  body {
    background-color: #0f0f0f;
    font-family: 'Georgia', serif;
    padding: 20px;
  }
  
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #f0e9db; /* Light background */
  }
  
  .logo {
    font-weight: bold;
    font-size: 30px;
  }
  
  .social-links {
    display: flex;
    gap: 35px;
  }
  
  .social-icon img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transition: transform 0.3s ease;
  }
  
  .social-icon:hover img {
    transform: scale(1.2); /* Little zoom effect on hover */
  }
  
  .buy-btn {
    background-color: #000000;
    color: #fff;
    width: 150px;
    height: 40px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 22px;
    transition: background-color 0.3s ease;
  }
  .buy-btn:hover {
    background-color: #383737;
  }
  
/* Section 1 Styling */

.section-1 {
  display: flex;                 
  flex-direction: column;            
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1600px;
  padding: 15px 0px;                  
  height: 50vh;                  
  box-sizing: border-box;
  margin-left: 10px;
  margin-top: 10px;
}

.section-1 .text-box {
  flex: 1 1 50%;
  background-color: #f6eedf;
  height: 479px;
  width: 530px;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
}

.section-1 .text-box h1 {
  font-size: 2em;
  font-weight: bold;
  color: #000;
  line-height: 1.3;
}

.section-1 .text-box em {
  font-style: italic;
}

.section-1 .image-box img {
  width: 260px;
  height: 376px;
  border-radius: 20px;
}

.section-1 .skills {
  flex: 1 1 50%;
  background-color: #f6eedf;
  height: 500px;
  width: 650px;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
}

/* Section 2 Styling */

.section-2 {
  display: flex;                 
  flex-direction: column;            
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1500px;
  padding: 15px 0px;                  
  height: 50vh;                  
  box-sizing: border-box;
  margin-left: 10px;
  margin-bottom: 10px;
}

.section-2 .text-box2 {
  flex: 1 1 50%;
  background-color: #f6eedf;
  height: 351px;
  width: 448px;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
}

.section-2 .text-box2 h1 {
  font-size: 2em;
  font-weight: bold;
  color: #000;
  line-height: 1.3;
}

.section-2 .text-box2 em {
  font-style: italic;
}

.section-2 .text-box2-2 {
  flex: 1 1 50%;
  background-color: #f6eedf;
  margin-top: 40px;
  height: 351px;
  width: 448px;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
}

.section-2 .projects {
  flex: 1 1 50%;
  background-color: #f6eedf;
  height: 500px;
  width: 530px;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
}

/* Footer */
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #f6eedf;
  }

  .footer h3{
  line-height: 1.3;
  }
